
@{
    ViewBag.Title = "ClubRules";
}

<h2>ClubRules</h2>

@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $('#mnuCru').toggleClass('det');
        });


    </script>
}