
@{
    ViewBag.Title = "EventCalender";
}

<h2>EventCalender</h2>

@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $('#mnuEvt').toggleClass('det');           
        });


    </script>
}