
@{
    ViewBag.Title = "PhotoGallery";
}

<h2>PhotoGallery</h2>


@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            debugger;
            $('#mnuPht').toggleClass('det');
        });


    </script>
}