.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 150px;
    max-width: 150px;
}

    #sidebar .bg {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url('img/marble.jpg') no-repeat;
        opacity: .2;
        background-size: 150px 1200px;

    }

        #sidebar .bg.active {
            margin-left: -150px;
        }

    #sidebar.active {
        margin-left: -150px;
    }

.btn {
    border-radius: 25px;
}
